<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiit.dao.IUserMapper">
    <select id="getUserByActId" resultType="com.aiit.pojo.User">
        SELECT * from user RIGHT JOIN user_act ON `user`.id = user_act.user_id WHERE  user_act.act_id = #{actId} AND user_act.user_id = #{userId}
    </select>
</mapper>